@{
    ViewBag.Title = "О портале";
}

<h2>О Геоинформационном портале &laquo;Метео-ДВ&raquo;</h2>
<div class="row">
    <div class="col-lg-4">
        <img class="img-responsive" src="@Url.Content("~/Content/karta_dalny_vostok.png")" align="">
    </div>

    <div class="col-lg-8">
        <div class="jumbotron">
            <p>
                Геоинформационный портал &laquo;Метео-ДВ&raquo; –  это программно-технологический комплекс визуализации гидрометеорологической и спутниковой информации, который применяется для организации глобального мониторинга за метеорологическими и гидрологическими процессами на территории Дальнего Востока России и прилегающих территориях.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="jumbotron">
            <p>
                Геоинформационный портал &laquo;Метео-ДВ&raquo; представляет собой региональную ведомственную информационную систему, предназначенную для интеграции информации о гидрометеорологической обстановке и состоянии окружающей среды в Дальневосточном регионе и комплексном информационном обеспечении прогностической деятельности различных подразделений Росгидромета.
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <img class="img-responsive" src="@Url.Content("~/Content/roshydromet_logo.png")" align="">
        <p>
            Федеральной службы по гидрометеорологии и мониторингу окружающей среды
        </p>
    </div>
</div>

    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <p>
                    В перечень функциональных задач Портала входят:
                    <ul>
                        <li>
                            интеграция разнородной и распределенной информации о состоянии атмосферы и подстилающей поверхности на территории Дальнего Востока;
                        </li>
                        <li>
                            обеспечение федеральных, региональных и местных органов власти ДФО Российской Федерации, организаций, осуществляющих прогностическую деятельность, комплексной информацией о гидрометеорологической обстановке и состоянии окружающей природной среды;
                        </li>
                        <li>
                            взаимодействие с базами данных измерений наземной наблюдательной сети Росгидромета, обеспечение доступа к их ресурсам;
                        </li>
                        <li>
                            информационное взаимодействие с зарубежными информационными системами;
                        </li>
                        <li>
                            предоставление доступа к указанной информации через WEB-ресурсы.
                        </li>
                    </ul>
                    
                </p>
            </div>
        </div>
    </div>
    
<div class="row">
    <div class="col-lg-4">
        <img class="img-responsive" src="@Url.Content("~/Content/planeta.png")" align="">
    </div>

    <div class="col-lg-8">
        <div class="jumbotron">
            <p>
                Особое внимание придается информационному обеспечению следующих функциональных направлений деятельности:
                <ul>
                    <li>осуществление гидрометеорологической деятельности;</li>
                    <li>осуществление мониторинга загрязнения окружающей среды;</li>
                    <li>прогнозирование развития гидрометеорологических процессов в окружающей среде;</li>
                    <li>защита населения и объектов на суше, поверхностных водных объектах и прибрежных морских территориях Дальнего Востока Российской Федерации от стихийных бедствий природного и техногенного характера.</li>
                </ul>
                
            </p>
        </div>
    </div>
</div>


<h2>Контакты</h2>
<div class="row">
    <div class="col-lg-12">
        <address>
            <strong>Федеральное  государственное бюджетное учреждение &laquo;Дальневосточное управление по гидрометеорологии и мониторингу окружающей среды&raquo;</strong><br>
            680000, г. Хабаровск, ул. Ленина 18<br>
            Начальник учреждения Паршин Вячеслав Викторович<br>
            <abbr title="Телефон">Тел:</abbr> (4212) 41-57-68
        </address>
    </div>
</div>


<h2>Обратная связь</h2>
<div class="jumbotron">
<form class="form-horizontal">
    <div class="form-group">
        <label for="feedback_email" class="col-sm-2 control-label">Ваш электронный адрес:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="feedback_email" placeholder="Электронный адрес">
        </div>
    </div>
    <div class="form-group">
        <label for="feedback_subject" class="col-sm-2 control-label">Тема сообщения:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="feedback_subject" placeholder="Тема сообщения">
        </div>
    </div>
    <div class="form-group">
        <label for="feedback_message" class="col-sm-2 control-label">Текст:</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Отправить</button>
        </div>
    </div>
</form>
</div>