@{
    ViewBag.Title = "ФГБУ Дальневосточное УГМС";
}

<div class="jumbotron">


    <h2>Геоинформационный портал</h2>
    <hr />
    <p>
        Добро пожаловать на геоинформационный портал Дальневосточного региона РФ.
        Портал предназначен для представления гидрометеорологической, гелиофизической и спутниковой информации по территории Дальнего Востока
    </p>
    <p>
        <a class="btn btn-lg btn-primary" target="_blank" href="http://meteo-dv.ru/gis.html" role="button">Открыть &raquo;</a>
    </p>



</div>

<div class="jumbotron">
    <h2>О портале</h2>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="@Url.Content("~/Content/about1.png")" align="">
        </div>
        <div class="col-lg-6">
            <p>
                ГИС портал &laquo;Метео-ДВ&raquo; представляет региональную ведомственную информационную систему, предназначенную для предоставления информации о гидрометеорологической обстановке и состоянии окружающей среды в Дальневосточном регионе, и комплексном информационном обеспечении прогностической деятельности различных подразделений Росгидромета.
            </p>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h2>Назначение</h2>
    <hr>
    <div class="row">
        <p>
            Перечень задач:<br>
            • предоставление разнородной и распределенной информации о состоянии атмосферы и подстилающей поверхности на территории Дальнего Востока;
            <br>• обеспечение федеральных, региональных, местных органов власти Российской Федерации и организаций, комплексной информацией о текущем и прогностическом состоянии природной среды;
            <br>• предоставление возможности посмотреть исторические данные;
            <br>• совмещение разнородной информации на одной картографической основе;
            <br>• предоставление доступа к данной информации через WEB-ресурсы.
        </p>
    </div>

    <p>
        <a class="btn btn-lg btn-primary" target="_blank" href="http://meteo-dv.ru/gis.html" role="button">Открыть &raquo;</a>
    </p>

</div>



<div class="jumbotron">
    <h2>
        Награждение
    </h2>
    <hr />
    <div class="row">
        <div class="col-lg-5">
            <img class="img-responsive" src="@Url.Content("~/Content/bestowal.jpg")" align="">
        </div>
        <div class="col-lg-7">
            <h3>ГИС портал &laquo;Метео-ДВ&raquo; - Победитель конкурса</h3>
            <p>16 апреля 2015 г. состоялось подведение итогов Конкурса «Лучшие проекты в области ГИС и ДЗЗ», проходившего в рамках III Международного ГИС-форума «Интеграция пространства — будущее информационных технологий».<br>Номинации «Значимый вклад в развитие сферы геоинформационных технологий и ДЗЗ» был удостоен проект «Геоинформационная система визуализации гидрометеорологической и спутниковой информации по территории Дальнего Востока».</p>

        </div>
    </div>
</div>